! Configuration generee automatiquement - NE PAS EDITER A LA MAIN
! Site : {{ inventory_hostname }}
!
hostname {{ inventory_hostname }}
no ip domain-lookup
!
{% for iface in interfaces %}
interface {{ iface.name }}
 description {{ iface.description }}
 switchport access vlan {{ iface['vlan-id'] }}
{% if iface.enabled == 'down' %}
 shutdown
{% else %}
 duplex full
 speed 1000
 spanning-tree portfast
 no shutdown
{% endif %}
!
{% endfor %}
ntp server {{ ntp_server }}
banner motd ^ {{ banner_motd }} ^
